extends ./layout/app

block contenido 
    section(class="py-5")

    if publico
        div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
            each propiedad in propiedades
                if propiedad.publicado
                    include ./templates/card
    else 
        p(class="text-center text-gray-800 text-sm py-10 uppercase font-bold") No se encontraron Propiedades