header(class="bg-sky-400 p-4") 
            div(class="container mx-auto flex justify-between")
                img(src="/img/logo2.png", alt="si" class="h-20")                
                a(href="/" class="text-2xl md:flex-auto py-5  px-5 font-bold text-white") DINA Inmobiliaria 

                nav(class="my-5 text-sm md:flex md:gap-3 md:items-center font-bold text-white flex")
                    a(href="/auth/registro") Crear Cuenta 
                    a(href="/auth/login") Iniciar Sesion

//div(class="bg-sky-400 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between  ")
        a(href="/categoria/habitaciones" class="text-sm font-bold uppercase text-white") Habitaciones 
        a(href="/categoria/baños" class="text-sm font-bold uppercase text-white") Baños 
        a(href="/categoria/dimencion" class="text-sm font-bold uppercase text-white") Dimencion
        a(href="/categoria/precio" class="text-sm font-bold uppercase text-white") Precio